<tr id="<%= dom_id(import_log) %>">
  <td><%= import_log.file_name %></td>
  <td><%= import_log.status %></td>
  <td><%= import_log.total_rows %></td>
  <td><%= import_log.success_count %></td>
  <td><%= import_log.skipped_count %></td>
  <td><%= import_log.error_count %></td>
</tr>

<% if import_log.error_messages.present? %>
  <tr>
    <td colspan="6">
      <details>
        <summary class="font-bold text-red-600 cursor-pointer">Import Errors</summary>
        <div class="p-2 mt-2 bg-gray-100 rounded">
          <% import_log.error_messages.split("\n").each do |line| %>
            <p class="text-sm text-red-700"><%= line %></p>
          <% end %>
        </div>
      </details>

    </td>
  </tr>
<% end %>