<%= content_tag :div, options do %>
  <div class="flex flex-wrap flex-shrink-0 gap-2 p-2 max-w-full" <%= "data-#{@stimulus_controller}-target='badgesContainer'".html_safe %> >
  </div>
  <input
  id="<%= @required ? 'required':'' %>"
  type="text"
  <%= "data-#{@stimulus_controller}-target='input'".html_safe %>
  data-detect-form-changes-target="utilityInput"
  class="pt-3 w-48 h-full text-sm align-middle border-0 border-transparent scroll-mt-25 focus:outline-none focus:border-transparent focus:ring-0 rounded-6px"
  <%= "data-action='#{@stimulus_controller}#search'".html_safe %>
  placeholder="<%= @placeholder %>">
    <div data-search-target="advancedFiltersCheckboxes" data-extend-dropdown-target="menu" class="hidden absolute left-0 top-full z-10 mt-2 w-full max-h-52" >
      <div class="overflow-y-auto p-5 max-h-52 bg-white rounded border border-gray-5">
        <div class="flex flex-col <%= @stimulus_controller == "select-multiple-search" ? "gap-y-2" : "" %>">
          <% if @items.is_a?(Array) %>
            <% if @klass.present? %>
              <%= @f.collection_check_boxes :cause_ids, Cause.order(:name), :id, :name do |c| %>
                <% content_tag :div, data: { "#{@stimulus_controller}-target": "group" } do %>
                  <% content_tag :div, class: "flex gap-x-2 items-center" do %>
                    <%= c.check_box(class: "h-4 w-4 rounded-6px text-base text-blue-medium focus:border-0 focus:ring-0 focus:ring-transparent modal-checkbox",
                                    data: { "#{@stimulus_controller}-target": "checkbox", action: "click->#{@stimulus_controller}#select", value: c.text }) %>
                    <% if Cause.find_by(name: c.text) %>
                      <%= render CauseIcon::Component.new(svg_name: "causes_categories/#{format_cause_name c.text}",
                                                          wrapper_options: {class: "w-8 h-8 flex-shrink-0 flex justify-center items-center rounded-full bg-blue-pale", aria_hidden: true},
                                                          svg_options: {class: "w-5 h-5"}) %>
                    <% end %>
                    <%= c.label(class: "text-sm text-black w-full") %>
                  <% end %>
                <% end %>
              <% end %>
            <% else %>
              <% @items&.sort&.each do |item| %>
                <div class="" <%= "data-#{@stimulus_controller}-target='group'".html_safe %>>
                  <div class="flex gap-x-2 items-center">
                    <%= check_box_tag "#{@name}[]", item, false, class: "h-4 w-4 rounded-6px text-base text-blue-medium focus:border-0 focus:ring-0 focus:ring-transparent modal-checkbox",
                                    data: { "search-target": "pill", "#{@stimulus_controller}-target": "checkbox", action: "click->#{@stimulus_controller}#select", value: item } %>
                    <% if Cause.find_by(name: item) %>
                      <%= render CauseIcon::Component.new(svg_name: "causes_categories/#{format_cause_name item}",
                                                          wrapper_options: {class: "w-8 h-8 flex-shrink-0 flex justify-center items-center rounded-full bg-blue-pale", aria_hidden: true},
                                                          svg_options: {class: "w-5 h-5"}) %>
                    <% end %>
                    <%= label_tag item, item, for: item, class: "text-sm text-black w-full" %>
                  </div>
                </div>
              <% end %>
            <% end %>
          <% elsif @items.is_a?(Hash) %>
            <% @items&.sort&.each do |group, list|%>
              <div class="mb-2" <%= "data-#{@stimulus_controller}-target='group'".html_safe %>
                <div class="pl-6 my-2 text-sm font-bold text-black" data-group-title="<%= group.downcase %> " <%= "data-#{@stimulus_controller}-target='groupTitle'".html_safe %>
                <%= group %>
              </div>
                <% if @klass.present? %>
                  <%= @f.collection_check_boxes ids_array, collection(group), :id, :name do |c| %>
                    <% content_tag :div, class: "flex flex-row items-center my-2" do %>
                      <%= c.check_box(class: "h-4 w-4 mr-2 rounded-6px text-base text-blue-medium focus:border-0 focus:ring-0 focus:ring-transparent modal-checkbox",
                                      data: { "search-target": "pill", "#{@stimulus_controller}-target": "checkbox", action: "click->#{@stimulus_controller}#select", value: c.text }) %>
                      <%= c.label(class: "text-sm text-black w-full") %>
                    <% end %>
                  <% end %>
                <% else %>
                  <% list&.sort&.each do |item| %>
                    <div class="flex flex-row items-center my-2">
                      <%= check_box_tag "#{@name}[#{group}][]", item, false, class: "h-4 w-4 mr-2 rounded-6px text-base text-blue-medium focus:border-0 focus:ring-0 focus:ring-transparent modal-checkbox",
                                      data: { "search-target": "pill", "#{@stimulus_controller}-target": "checkbox", action: "click->#{@stimulus_controller}#select", value: item } %>
                      <%= label_tag @name, item, for: item, class: "text-sm text-black w-full" %>
                    </div>
                  <% end %>
                <% end %>
              </div>
            <% end %>
          <% end %>
        </div>
      </div>
    </div>
    <%# Badge Template %>
    <span class="inline-flex hidden items-center py-1.5 pr-1 pl-2 text-xs text-white bg-blue-medium min-h-7 rounded-6px" <%= "data-#{@stimulus_controller}-target='badgeTemplate'".html_safe %> >
      <span>
      </span>
      <button type="button" data-action=<%="click->#{@stimulus_controller}#remove"%> class="inline-flex flex-shrink-0 justify-center items-center ml-0.5 w-4 h-4 text-indigo-400 rounded-full hover:bg-indigo-200 hover:text-indigo-500 focus:outline-none focus:bg-indigo-500 focus:text-white">
        <span class="sr-only">Remove large option</span>
        <svg class="w-2 h-2 text-white" stroke="currentColor" fill="none" viewBox="0 0 8 8">
          <path stroke-linecap="round" stroke-width="1.5" d="M1 1l6 6m0-6L1 7" />
        </svg>
      </button>
    </span>
  <% end %>
