<div class="flex gap-2" role="progressbar" aria-valuenow="<%= step %>" aria-valuemin="1" aria-valuemax="<%= total_steps %>">
  <% (1..4).each do |seg| %>
    <%
      section_steps = section_map.select { |_, v| v[:number] == seg }.keys.sort
      fill_pct      = segment_fill_pct(section_steps, seg, current_section_number, step)
      prev_fill_pct = segment_prev_fill_pct(section_steps, seg, current_section_number, step)
    %>
    <div class="sm-wizard__progress-segment flex-1">
      <div class="sm-wizard__progress-fill"
           style="--fill-pct: <%= fill_pct %>%; --prev-fill-pct: <%= prev_fill_pct %>%"
           <%= "data-animate=true" if seg == current_section_number %>></div>
    </div>
  <% end %>
</div>
