<% if designation_map.any? %>
  <%= content_tag(:div, container_setup) do %>
    <% designation_map.each do |designation_name, designation_desc| %>
      <% tooltip_id = SecureRandom.hex(8) %>
      <div class="relative text-xs text-center cursor-pointer">
        <%# Pill %>
        <span class="block px-2 py-1 rounded-lg border labelled-icon w-fit bg-gray-8 text-gray-4" aria-labelledby="<%= tooltip_id %>">
          <%= designation_name %>
        </span>
        <%# Hover over %>
        <span
        role="tooltip"
        id="<%= tooltip_id %>"
        class="hidden absolute right-1/2 bottom-full px-3 py-1 mb-2 text-white bg-opacity-90 rounded-lg transform translate-x-1/2 bg-gray-2">
          <%= designation_desc %>
        </span>
      </div>
    <% end %>
  <% end %>
<% end %>
