<%= form_with url: smart_match_quiz_path, method: :put, id: "quiz-form",
             data: { smart_match_quiz_target: "form" } do |f| %>
  <div data-card-group="donor_communities" data-card-cols="4">

    <% [
      ["Seniors",                    "seniors",          "smart_match/senior.svg",            "text-white"],
      ["Veteran & military",         "veteran_military", "smart_match/categories/medal.svg",  ""],
      ["Spanish-speaking communities","spanish_speaking","smart_match/languages.svg",         "text-white"],
      ["BIPOC communities",          "bipoc",            "smart_match/community.svg",         "text-white"],
      ["People with disabilities",   "disabilities",     "smart_match/categories/disability.svg","text-white"],
      ["LGBTQIA+ community",         "lgbtqia",          "smart_match/categories/pride.svg",  "text-white"],
      ["Children & family",          "children_family",  "smart_match/family.svg",            "text-white"],
      ["No preference",              "no_preference",    nil,                                 ""]
    ].each do |label, value, icon, icon_class| %>
      <label class="sm-card-option sm-card-option--blue <%= 'selected' if @session_answers[:donor_communities].include?(value) %>"
             data-action="click->smart-match-quiz#selectCard"
             data-select-mode="multiple">
        <input type="checkbox" name="donor_communities[]" value="<%= value %>"
               class="sr-only"
               <%= "checked" if @session_answers[:donor_communities].include?(value) %>
               data-smart-match-quiz-target="causeCheckbox" />
        <span class="text-base font-bold text-center"><%= label %></span>
        <% if icon %>
          <%= inline_svg_tag icon, class: "w-20 h-20 mt-2 #{icon_class}", aria_hidden: "true" %>
        <% end %>
      </label>
    <% end %>

  </div>
<% end %>
