<header class="main-content__header" role="banner">
  <h1 class="main-content__page-title">
    <%= "Upload Organizations" %>
  </h1>
  <div>
    <%= link_to t("administrate.actions.back"), :back, class: "button" %>
  </div>
</header>
<section class="main-content__body">
  <%= form_tag import_admin_organizations_path, multipart: true do %>
    <%= file_field_tag :file, required: true %>
    <%= submit_tag "Import Organizations", style: "margin-top:16px" %>
  <% end %>
</section>

<section class="main-content__body">
  <h2>Previous Imports</h2>
  <div id="import-logs">
    <%= render partial: "admin/organizations/import_logs", locals: { import_logs: @import_logs } %>
  </div>
</section>