<div class="sm-px-64" style="text-align: left; margin-top: 56px; padding-left: 24px; padding-right: 24px;">
  <div style="margin: 0px;">
    <p style="margin: 0px; font-size: 24px;">
      Your search alert for
      <% if @alert.keyword.present? %>
        <strong style="margin: 0px;"><%= @alert.keyword %> </strong>
      <% else %>
        the following filters
      <% end %>
    </p>
    <p style="margin: 0px; margin-top: 7px; font-size: 14px;"><%= "Filters: #{@alert_filters}" %></p>
  </div>
  <div style="margin: 0px; margin-top: 48px;">
    <p style="margin: 0px; font-size: 16px;"><%= "We found #{@new_locations.count} new organizations that match your search" %></p>
    <div class="sm-ml-44" style="margin: 0px; margin-top: 60px; max-width: 512px;">
      <% @new_locations.each do |location| %>
        <div style="margin: 0px; margin-top: 20px; display: flex; align-content: flex-start;">
          <div style="margin: 0px; width: 96px; flex-shrink: 0;">
            <a href=<%= location.organization.decorate.website %> target="_blank" style="margin: 0px; text-decoration: none; color: inherit;">
              <%= image_tag(attachments[location.organization.logo.blob.filename.to_s].url, style: "max-width: 100%; height: 96px; object-fit: contain;") %>
            </a>
          </div>
          <div style="margin: 0px; margin-left: 16px;">
            <a href=<%= location.organization.decorate.website %> target="_blank" style="margin: 0px; text-decoration: none; color: inherit;"><h5 style="margin: 0px; font-size: 18px; font-weight: 700; color: #000000;"><%= location.name %></h5></a>
            <div style="margin: 0px; margin-top: 5px; font-size: 12px; color: #9ca3af;">
              <p style="margin: 0px;"><%= location.decorate.street %></p>
              <p style="margin: 0px;"><%= location.decorate.city_state_zipcode %></p>
              <a href=<%= location.organization.decorate.website %> target="_blank" style="margin: 0px; text-decoration: none; color: inherit;"><%= location.organization.website %></a>
              <p style="margin: 0px; margin-top: 16px;"><%= location.phone_number&.number %></p>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
<div class="sm-px-0" style="margin: 0px; margin-top: 60px; padding-left: 24px; padding-right: 24px; text-align: center;">
  <p style="margin: 0px; font-size: 16px;">The Giving Connection Team</p>
  <p style="margin: 0px; margin-top: 24px; font-size: 12px;"><%= "This email was intended for #{@alert.user.email}. You are receiving search alerts." %></p>
  <div style="margin: 0px; margin-top: 20px; font-size: 12px; font-weight: 500;">
    <a href="https://www.givingconnection.org/my_account" target="_blank" style="margin: 0px; text-decoration: none; color: inherit;">Manage my alerts</a>
    <span>|</span>
    <a href="https://www.givingconnection.org/faqs" target="_blank" style="margin: 0px; text-decoration: none; color: inherit;">Help</a>
  </div>
</div>
