<p>Hi <%= @message.name %>, </p>
<% if @message.organization_name.nil?  %>
  <p>Thank you for contacting us. We will get back to you with a response in the next 3-5 business days.</p>
<% elsif @message.subject == '3' %>
  <p>
    Thank you for reaching out to <a href="https://givingconnection.org" class="text-blue-600 underline">Giving Connection</a>. We’re so glad you found us and we’re here to help connect you with the support you need.<br><br>

    To get started, we ask everyone to fill out a short triage form so we can better understand your needs and match you with local nonprofits and services in your area. It only takes a couple of minutes and will help us point you in the right direction.<br><br>

    If you are interested in more nonprofit information, please complete the form here: <a href="https://forms.gle/HS9xN6PUMFzq4dLV8">https://forms.gle/HS9xN6PUMFzq4dLV8</a><br><br>

    Giving Connection is currently available in Atlantic City, NJ, Nashville, TN, and Los Angeles, CA. If you're located outside these areas, we may not have full listings yet but we’re growing quickly and will do our best to offer guidance where we can.<br><br>

    If you’re experiencing an emergency, please call 911 or your local emergency services right away, as we are not able to respond in real time.<br><br>

    Thank you again for reaching out. You are not alone and we are honored to be part of your support journey.<br><br>
  </p>
<% else %>
  <p>Thank you for contacting us about adding or claiming a nonprofit on the Giving Connection platform. After we verify the nonprofit organization you specified in your message, we will contact you to set up an account. You should expect to hear back from us within 3-5 business days.</p>
<% end %>
<p style = "margin-top: 10px;">With gratitude,<br>The Giving Connection Team</p>
<div style = "background-color: #EFF2F7; padding: 10px; border-radius: 5px; margin-top: 10px;">
  <p style = "margin-top: 10px; font-style: normal; font-size: 14px; line-height: 20px;">
    Your message was:<br><br>
    <span style="font-weight: 700;">Name:</span> <%= @message.name %><br />
    <span style="font-weight: 700;">Email:</span> <%= @message.email %><br />
    <span style="font-weight: 700;">Phone:</span> <%= @message.phone %><br />
    <span style="font-weight: 700;">Subject:</span> <%= @message.decorate.real_subject %><br />
    <% if @message.organization_name.present? %>
      <span style="font-weight: 700;">Organization Name:</span> <%= @message.organization_name %><br />
      <span style="font-weight: 700;">Organization Website:</span> <%= @message.organization_website %><br />
      <span style="font-weight: 700;">Organization EIN:</span> <%= @message.organization_ein %><br />
      <span style="font-weight: 700;">Profile Admin Name:</span> <%= @message.profile_admin_name %><br />
      <span style="font-weight: 700;">Profile Admin Email:</span> <%= @message.profile_admin_email %><br />
    <% end %>
    <span style="font-weight: 700;">Message:</span> <%= @message.content %>
  </p>
</div>
