<p>Hi <%= @message.name %>, </p>
<% if @message.organization_name.present?  %>
  <%= render 'message_mailer/shared/claim_or_add_org' %>
<% else %>
  <%= render 'message_mailer/shared/contact' %>
<% end %>
<div style = "background-color: #EFF2F7; padding: 10px; border-radius: 5px; margin-top: 10px;">
  <p style = "font-weight: 700; margin-top: 10px; font-style: normal; font-size: 14px; line-height: 20px;">
    Your message was:<br><br>
    Name: <%= @message.name %><br>
    Email: <%= @message.email %><br>
    Phone: <%= @message.phone %><br>
    Subject: <%= @message.subject %><br>
    Message: <%= @message.content %><br>
    <% if @message.organization_name.present? %>
      Organization Name: <%= @message.organization_name %><br>
      Organization Email: <%= @message.organization_website %><br>
      Organization Ein: <%= @message.organization_ein %><br>
    <% end %>
  </p>
</div>
