<p>Hi <%= @message.name %>, </p>
<% if @message.organization_name.nil?  %>
  <p>Thank you for contacting us. We will get back to you with a response in the next few days.</p>
<% else %>
  <p>Thank you for contacting us about adding or claiming a nonprofit on the Giving Connection platform. After we verify the nonprofit organization you specified in your message, we will contact you to set up an account. You should expect to hear back from us within 1-2 weeks.</p>
<% end %>
<p style = "margin-top: 10px;">With gratitude,<br>The Giving Connection Team</p>
<div style = "background-color: #EFF2F7; padding: 10px; border-radius: 5px; margin-top: 10px;">
  <p style = "font-weight: 700; margin-top: 10px; font-style: normal; font-size: 14px; line-height: 20px;">
    Your message was:<br><br>
    Name: <%= @message.name %><br>
    Email: <%= @message.email %><br>
    Phone: <%= @message.phone %><br>
    Subject: <%= @message.subject %><br>
    Message: <%= @message.content %><br>
    <% if @message.organization_name.present? %>
      Organization Name: <%= @message.organization_name %><br>
      Organization Email: <%= @message.organization_website %><br>
      Organization Ein: <%= @message.organization_ein %><br>
    <% end %>
  </p>
</div>
