<div id="<%= @id %>" class="p-6 scroll-mt-96" data-controller="result-card--component">
  <div class="flex gap-2.5 mb-3">

    <div class="flex-shrink-0 w-24">
      <%= helpers.logo_link(@turbo_frame, @id, @image_url) %>
    </div>

    <div class="w-full">
      <div class="flex flex-row items-start justify-between">
        <%# Org name %>
        <div class="flex items-start">
          <%= helpers.title_link(@turbo_frame, @id, @title) %>
          <% if @verified %>
            <%= render "shared/popover", copy: "Information verified by nonprofit.", wrapper_icon: "verified_nonprofit_check.svg" %>
          <% end %>
        </div>

        <%= render SaveButton::Component.new(user: @current_user, location: Location.find(@id), simplified: true) %>
      </div>

      <div class="pb-0 text-xs text-gray-4">
        <% if @public_address %>
          <p id="pointer"><%= link_to @address, @link_to_google_maps, target: "blank" %></p>
        <% end %>
        <% if @website.present? %>
          <p><%= link_to @website_for_display, @website, target: '_blank', class: 'text-blue-medium'%></p>
        <% end %>
        <% if @phone_number.present? %>
        <%= link_to "Call: #{@phone_number}", "tel:#{@phone_number}", class: 'text-blue-medium' %>
        <% end %>
        <%# Designations %>
        <%= render DesignationTag::Component.new(Location.find(@id).organization) %>
      </div>
    </div>
  </div>
  <div class="flex flex-col px-2">
    <% if formated_description.present? %>
      <h6 class="text-sm font-bold text-black uppercase">
        WHAT WE DO
      </h6>
    <% end %>
    <p class="text-sm text-black">
      <%= formated_description %>
    </p>
  </div>
  <div class="flex items-center justify-between">
    <% unless @causes.empty? %>
      <section>
        <h2 class="mb-2 font-sans text-xs font-bold uppercase">Causes</h2>
        <%= render CausesList::Component.new( \
            causes: @causes, \
            tooltip: true, \
            tooltip_options: {class: "bottom-full right-1/2 py-1 px-3 mb-2 rounded-sm text-xs text-center text-white transform translate-x-1/2 bg-gray-2 bg-opacity-90"}, \
            list_options: { class: "flex flex-wrap gap-3 my-2"}, \
            icon_wrapper_options: { class: "labelled-icon w-8 h-8 flex justify-center items-center rounded-full bg-blue-pale", aria_hidden: true}, \
            icon_svg_options: {class: "w-5 h-5", aria_hidden: true}) %>
      </section>
    <% end %>
    <a href="<%= location_path(@id)%>" class="inline-flex items-center ml-4 text-sm font-bold text-blue-medium whitespace-nowrap", target="_blank">
      Go to Page
      <%= inline_svg_tag 'solid_arrow_right.svg', class: 'w-4 h-4 ml-2 text-blue-medium fill-current'%>
    </a>
  </div>
</div>
