<div id="<%= "#{@id}" %>" class="p-6 scroll-mt-96" data-controller="result-card--component">
  <div class="flex gap-2.5 mb-3">
    <div class="flex-shrink-0 w-24 h-24 bg-gray-6 rounded-md">
      <%= image_tag @image_url, class: 'object-contain w-full' %>
    </div>
    <div class="w-full">
      <div class="flex flex-row items-start justify-between">
        <div>
          <a class="text-base font-bold text-black cursor-pointer" id="new_favorite_location_<%= @id %>">
            <%= @title %>
          </a>
          <% if @verified %>
            <%= inline_svg_tag 'verified_nonprofit_check.svg', class: 'w-4 h-4 ml-1 align-text-bottom inline' %>
          <% end %>
        </div>
        <% if @current_user.present? %>
          <% if FavoriteLocation.exists?(user_id: @current_user&.id, location_id: @id) %>
            <%= render 'shared/marked', id: @id, user_id: @current_user&.id %>
          <% else %>
            <%= render 'shared/unmarked', id: @id %>
          <% end %>
        <% else %>
          <%= link_to favorite_locations_path(location_id: @id), data: { turbo_method: :post }, class: "inline-flex items-center p-2 text-xs text-gray-3" do %>
            <%= inline_svg_tag 'bookmark_empty.svg', class: 'w-4 h-4' %>
          <% end %>
        <% end %>
      </div>
      <div class="text-xs text-gray-4 pb-0">
        <p id="pointer"><%= link_to @address, "https://www.google.com/maps/search/#{@address}", target: "blank" %></p>
        <% if @website.present? %>
          <%= link_to @website, @website, target: '_blank', class: 'text-blue-medium'%>
        <% end %>
        <% if device == "mobile" && @phone_number.present? %>
        <a class="text-xs text-blue-medium" href="tel:<%= @phone_number %>">
          <%= "call: #{@phone_number}" %></a>
          <% else %>
        <p class="text-xs text-blue-medium"><%= @phone_number %></p>
        <% end %>
      </div>
    </div>
  </div>
  <div class="flex flex-col px-2">
    <% if formated_description.present? %>
      <h6 class="text-sm font-bold text-black uppercase">
        WHAT WE DO
      </h6>
    <% end %>
    <p class="text-sm text-black">
      <%= formated_description %>
    </p>
  </div>
  <div class="flex justify-between items-center">
    <% unless @causes.empty? %>
      <section>
        <h2 class="mb-2 text-xs uppercase font-bold font-sans">Causes</h2>
        <ul class="flex flex-wrap gap-2">
          <% @causes.each do |cause| %>
            <li>
              <%= render Tooltip::Component.new(copy: cause.name, tooltip_options: {class: "bottom-full left-3/4 py-1 px-3 mb-2 rounded-sm text-xs text-center text-white bg-gray-2 bg-opacity-90"}) do %>
                <%= render CircularIcon::Component.new(svg_name: "causes_categories/#{cause.decorate.svg_file_name}",
                                                       wrapper_options: {class: "labelled-icon w-8 h-8 flex justify-center items-center rounded-full bg-blue-pale"},
                                                       svg_options: {class: "w-5 h-5", aria_hidden: true}) %>
              <% end %>
            </li>
          <% end %>
        </ul>
      </section>
    <% end %>
    <a href="<%= location_path(@id)%>" class="inline-flex items-center ml-4 text-sm font-bold text-blue-medium whitespace-nowrap">
      Go to Page
      <%= inline_svg_tag 'solid_arrow_right.svg', class: 'w-4 h-4 ml-2 text-blue-medium fill-current'%>
    </a>
  </div>
</div>
