<div class="p-4" data-controller="result-card--component" >
  <div class="flex flex-row gap-3 mb-3">
    <div class="flex-shrink-0 w-24 my-1">
      <a href="<%= location_path(@id)%>" class="inline-flex items-start p-2 text-sm font-bold text-blue-medium">
        <%= image_tag @image_url, class: 'object-contain w-full h-20' %>
      </a>
    </div>
    <div class="w-full">
      <div class="flex flex-row items-start justify-between">
        <a href="<%= location_path(@id)%>" class="inline-flex items-center py-2 text-sm font-bold text-blue-medium" 
           id="new_favorite_location_<%= @id %>">
          <h5 class="text-lg font-bold text-black">
            <%= @title %>
          </h5>
        </a>
        <% if @current_user.present? %>
          <% if FavoriteLocation.exists?(user_id: @current_user&.id, location_id: @id) %>
            <%= render 'shared/marked', id: @id, user_id: @current_user&.id %>
          <% else %>
            <%= render 'shared/unmarked', id: @id %>
          <% end %>
        <% else %>
          <%= link_to new_user_registration_path, class: "inline-flex items-center p-2 text-xs text-gray-3" do %>
            <%= inline_svg_tag 'bookmark_empty.svg', class: 'w-4 h-4' %>
          <% end %>
        <% end %>
      </div>
      <div class="flex flex-col text-xs text-gray-4">
        <p><%= @address %></p>
        <% if @website.present? %>
          <%= link_to website_url, website_url, target: '_blank', class: 'text-blue-medium'%>
        <% end %>
      </div>
    </div>
  </div>
  <div class="flex flex-col px-2">
    <h6 class="text-sm font-bold text-black uppercase">
      WHAT WE DO
    </h6>
    <p class="text-sm text-black">
      <%= formated_description %>
    </p>
  </div>
  <div class="flex flex-row justify-end">
    <a href="<%= location_path(@id)%>" class="inline-flex items-center p-2 text-sm font-bold text-blue-medium" target="_blank">

      Go to Page
      <%= inline_svg_tag 'solid_arrow_right.svg', class: 'w-4 h-4 ml-2 text-blue-medium fill-current'%>
    </a>

  </div>
</div>
