<h1>Edit <%= @organization.name  %> </h1>

<%= form_for @organization do |f| %>
	
	<%= f.label :name %>
	<%= f.text_field :name %>

	<%= f.label :second_name %>
	<%= f.text_field :second_name %>

	<%= f.label :ein_number %>
	<%= f.text_field :ein_number %>

	<%= f.label :irs_ntee_code %>
	<%= f.select :irs_ntee_code, Organization::NTEE_CODE %>

	<%= f.file_field :logo, accept: 'image/png,image/jpeg'%>

	<%= f.label :website %>
	<%= f.text_field :website %>

	<%= f.label :email %>
	<%= f.text_field :email %>

	<%= f.label :phone_number %>
	<%= f.text_field :phone_number %>

	<h2>Organization Information</h2>

	<%= f.label :mission_statement_en %>
	<%= f.text_area :mission_statement_en %>

	<%= f.label :vision_statement_en %>
	<%= f.text_area :vision_statement_en %>

	<%= f.label :mission_statement_es %>
	<%= f.text_area :mission_statement_es %>

	<%= f.label :vision_statement_es %>
	<%= f.text_area :vision_statement_es %>

	<h2>Populations Served</h2>
	<p>What target populations (beneficiaries) best describe who you serve?</p>

	<p>Additional Keywords to describe my organization’s work</p>
	<div data-controller="tags">
	  <% values = @organization.tags.map { |tag| tag.name }.join(', ') %>
	  <input placeholder='write some tags' data-tags-target="output" 
	    value="<%= values %>"  name='tags_attributes' id='tags_attributes' >
	</div>

	<h2>Social Media</h2>
	<p>Social Media of your organization, this will be displayed globally on all locations.</p>

	<%= f.fields_for :social_media do |f| %>
		<%= f.label :facebook %>
		<%= f.text_field :facebook %>
  
		<%= f.label :instagram %>
		<%= f.text_field :instagram %>

		<%= f.label :twitter %>
		<%= f.text_field :twitter %>

		<%= f.label :linkedin %>
		<%= f.text_field :linkedin %>

		<%= f.label :youtube %>
		<%= f.text_field :youtube %>

		<%= f.label :blog %>
		<%= f.text_field :blog %>
  <% end %>

  <%= f.submit  %>

<% end %>
